
@{
    ViewData["Title"] = "Watts";
}

<h1>Watts</h1>

<main class="container">
    <div class="flex-container1">
        <form>
            <div class="form-group">
                <h2>My Form</h2>
                <label for="Label1"> Label 1</label>
                <input type="text" id="Input 1" name="Input 1" placeholder="Input 1">
            </div>
            <div class="form-group">
                <label for="Label2"> Label 2 </label>
                <input type="text" id="Input 2" name="Input 2" placeholder="Input 2">
            </div>

            <input type="submit-button" value="Submit">

        </form>

    </div>


    <div class="flex-container2">
        <div class="Outer"></div>
        <div class="Middle"></div>
        <div class="Inner"></div>

    </div>

</main>

